.form-container {
  /* height: 70vh; */
  background-color: black;
  display: flex;
  flex-direction: column;
}
.text-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 2rem 4rem 0;
}
.form-container .text-container {
  color: white;
  font-size: 1.4rem;
}
.form-container .text-container span {
  color: #9d8730;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  /* justify-content: center; */
  padding: 2.5rem 4rem 0;
  /* width: 100%; */
  flex-wrap: wrap;
  position: relative;
  max-width: 1400px;
}
.form > input {
  padding: 1.2rem 1rem;
  min-width: 49.5%;
  width: 49.5%;
  margin-bottom: 0.7rem;
  border-radius: 0.5rem;
  background: transparent;
  color: white;
  border: 1.5px solid rgb(66, 66, 66);
}
.form > input::placeholder,
textarea::placeholder {
  color: white;
}
.form > textarea {
  width: 100%;
  padding: 1.7rem 1rem;
  border-radius: 0.5rem;
  background: transparent;
  color: white;
  border: 1px solid rgb(66, 66, 66);
}

.form-button {
  border: 0;
  padding: 0.7rem 2rem;
  margin: 0.7rem 0;
  border-radius: 50px;
  background-color: #9d8730;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  /* height: 2.6rem; */
  text-wrap: nowrap;
}

@media (max-width: 800px) {
  .form {
    flex-direction: column;
  }
  .form > input {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .text-container {
    text-align: left;
  }
}
