.nav {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  padding: 1rem 4rem;
  /* height: 11vh; */
}

.logoDiv {
  width: 17%;
}

.logoDiv img {
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
.nav-list-holder {
  display: flex;
  align-items: center;
  margin-right: 7rem;
}
.nav-list-holder li {
  text-wrap: nowrap;
}

.nav-links li {
  color: white;
  font-size: 1rem;
  /* padding: 0 10px; */
  margin: 1rem 1.5rem;
  cursor: pointer;
  text-transform: capitalize;
  list-style: none;
  text-underline-offset: 0;
  text-decoration: none;
}
.nav-links .nav-list-holder .active li {
  color: #9d8730;
}
.nav-links li:hover {
  color: #9d8730;
}

.bookBtn {
  padding: 0.7rem 2rem;
  border: 0;
  border-radius: 50px;
  background-color: #9d8730;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  /* height: 2.6rem; */
  text-wrap: nowrap;
}
.mobile-menu-icon {
  display: none;
}

@media (max-width: 1140px) {
  .nav {
    padding: 1.5rem 1.7rem;
  }
  /* .logoDiv {
    width: 20%;
  } */
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    z-index: 200;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: black;
    padding-bottom: 2rem;
  }
  ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: white;
    z-index: 200;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
    font-size: 1.6rem;
    padding: 0;
    border: none;
    color: white;
    background: none;
  }
  .bookBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
