@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");

.grid {
  height: fit-content;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid .left {
  margin: 5rem 2rem 0;
  /* padding: 5rem 0 2rem 9rem; */
}

.right {
  /* padding: 5rem 6rem; */
  margin: 7rem 3rem 0 0rem;
  color: white;
}
.right h2 {
  font-family: "Cabin", sans-serif;
  font-size: 50px;
  letter-spacing: 6px;
}

.right p {
  font-size: 22px;
  font-weight: 100;
}

.lines {
  border-bottom: 2px solid #9d8730;
  width: 20%;
  margin: 2rem 0;
}

.right span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-wrap: wrap;
  letter-spacing: 1px;
}

@media (max-width: 1176px) {
  .grid {
    grid-template-columns: 30% 55%;
    column-gap: 5rem;
    height: fit-content;
  }
  .grid .left {
    margin-left: -1rem;
  }
  .grid .right {
    padding: 0 0 0 8rem;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-gap: 9rem;
  }

  .grid .right span {
    /* padding: 12rem 0 0 8rem; */
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .grid {
    display: block;
    padding-top: 2rem;
  }
  .grid .left {
    display: flex;
    margin-top: 0;
    justify-content: center;
  }

  .grid .right {
    text-wrap: wrap;
    padding: 0 2rem;
    text-align: center;
  }
  .grid .right h2 {
    margin-top: -4rem;
    text-align: center;
  }
  .grid .right p {
    text-align: center;
  }
  .lines {
    margin: 0.8rem 40%;
  }
  .grid .right span {
    text-align: center;
    padding-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .left img {
    width: 100%;
  }
  .right h2 {
    font-size: 2rem;
  }
  .grid .right {
    padding-bottom: 2rem;
  }
}
