.footer-container {
  background-color: black;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.quick-access {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-self: start;
}

.quick-access img {
  width: 60%;
}
.quick-access .pages-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  gap: 0.6em;
}
.quick-access .pages-section p {
  color: white;
  font-size: 1.2em;
  font-weight: 100;
}
.copyright {
  padding-top: 1rem;
}
.quick-access .copyright p {
  color: white;
  opacity: 0.4;
  text-wrap: nowrap;
}
.location-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  /* padding: 0.3rem 0; */
  /* align-items: flex-start; */
  justify-content: space-between;
  gap: 0.3rem;
}
.location-container h2 {
  color: #9d8730;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  /* margin: 2rem 0 0.5rem; */
}
.icon {
  min-width: 2.2rem;
  height: 2.2rem;
  background-color: rgb(53, 51, 51);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.custm-icon {
  position: absolute;
  font-size: 16px;
  color: white;
}

.single-location {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.location-container .single-location p {
  color: white;
  font-size: 1rem;
  text-wrap: wrap;
}

.footer-about-us {
  display: flex;
  width: 30%;
  gap: 2rem;
  flex-direction: column;
}
.footer-about-us-head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-about-us h2 {
  color: #9d8730;
  font-size: 1.6rem;
  text-wrap: nowrap;
}
.footer-about-us p {
  color: white;
  font-size: 1rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.footer-links .custom-icon {
  font-size: 1.5em;
}
@media (max-width: 982px) {
  .footer-container {
    justify-content: space-around;
  }
}
@media (max-width: 780px) {
  .footer-container {
    flex-direction: column;
  }
  .quick-access {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .location-container {
    width: 100%;
  }
  .footer-about-us {
    width: 100%;
  }
  .footer-about-us-head {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .pages-section {
    flex-wrap: wrap;
  }
  .quick-access img {
    width: 180%;
  }
}

@media (max-width: 330px) {
  .footer-container {
    padding: 3rem 2rem;
  }
}
